* {
  margin: 0;
  padding: 0;
}
.per-card {
  margin: 50px;
  overflow: hidden;
  background-color: #f6f6f6;
  position: relative;
  max-width: 320px;
  padding: 0;
}
.card-img {
  height: 300px;
  padding: 20px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 11, 11, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center;
  color: #f5865d;
}
.per-card:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.card-title {
  font-size: 30px;
  color: #f5865d;
  font-weight: 600;
}
.btn-section {
  position: absolute;
  top: 45%;
  left:5%;
}
.btn {
  background-color: #f5865d;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin: 10px;
}
.card-title {
  font-size: 30px;
  color: #f5865d;
  font-weight: 600;
}
.card-text {
  color: #69696b;
}
.btn:hover {
  background-color: #232741;
  color: #fff;
}
